body {
    font-family: sans-serif, Helvetica, Arial;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin: 10px 10px;
    box-sizing: border-box;
}

input[type=text] {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 18px;
    font-weight: 300;
    color: #7D7D7D;
}

.row {
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
}

.col-3 {
    width: 35%;
}

.col-6 {
    width: 50%;
}

.form-elem {
    margin: 10px;
}

.form-validaion {
    color: red;
    font-size: 12px;
}

.dsc-main__header-logo {
    text-align: center;
    margin: 30px 0;
}

.dsc-main__wrapper {
    width: 800px;
    margin: 0 auto;
    background: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
}

.btn-lg {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background: #03B9D2;
    border: none;
    padding: 15px;
    border-radius: 3px;
    transition: background 0.5s ease-out;
    outline: none;
    color: white;
}

.btn-lg:hover {
    background: #1681AC;
}

/*************************************************************

    Media queries

*************************************************************/

@media screen and (max-width: 890px) {
    .dsc-main__wrapper {
        width: 95%;
    }
}